<%- include("partials/header"); -%>
<div class="heading">
  <h2>Our Recent Blogs</h2>
  <div class="input">
    <button><i class="fa-solid fa-magnifying-glass"></i></button>
    <input type="text" placeholder="search here..." spellcheck="false" />
  </div>
</div>
<% blogs.reverse().forEach(function(blog){%>
<div id="blogs">
  <div id="markdown-body" class="markdown-body">
    <p><%=blog.date%></p>
    <h1><%=blog.title%></h1>
    <p><%=blog.description.substring(0,100)+"..."%></p>
    <a id="readMore" href="/blogs/<%=blog.slug%>">Read More</a>
    <div id="markdown"><%-blog.sanitizedHtml.substring(0,0)%></div>
  </div>
</div>
<%})%> <%- include("partials/footer"); -%>
