<%- include("partials/header"); -%>
<div class="heading">
  <h1>WELCOME TO RA1 FACT</h1>
  <div class="input">
    <button><i class="fa-solid fa-magnifying-glass"></i></button>
  <input type="text" placeholder="search here..." spellcheck="false">
</div>
</div>
<section id="cards">
  <h1 class="section-heading">Recomended Videos</h1>
<% posts.reverse().forEach(function(post){ %>
  <div class="card">
    <div class="thumbnail">
      <img src="Images/<%=post.thumbnail.data%>" alt="Thumbnail" />
    </div>
    <div id="blog-heading">
      <h1 class="blog-heading"><%=post.heading%></h1>
    </div>
    <div class="para-and-button">
      <div id="blog-para">
        <p class="blog-para">
          <%=post.description%>
        </p>
      </div>
      <a href="<%=post.link%>" target="_blank">
      <button class="watch-now">
        <i class="fa-brands fa-youtube"></i> watch now
      </button>
    </a>
    </div>
  </div>
<%})%>
</section>
<section id="testimonials">
  <h1 class="section-heading">Testimonials</h1>
  <div class="testimonial">
    <p class="testimonial-message">
      <span><i class="fa-solid fa-comments"></i></span>
      <br />
      Smash Coder's YouTube channel is a great programming resource. The videos are informative and easy to follow. I've learned a lot from Smash Coder and have applied what I've learned to my own projects with great success. I highly recommend subscribing to Smash Coder if you want to improve your programming skills or stay up-to-date on the latest trends and techniques.
      <br />
    </p>
    <span>
      <p><b>Anshu</b></p>
    </span>
  </div>
  <div class="testimonial">
    <p class="testimonial-message">
      <span><i class="fa-solid fa-comments"></i></span>
      <br />
      Smash Coder's YouTube channel is an excellent programming resource. The content is top-notch, covering a wide range of topics from beginner to advanced. The explanations are clear and easy to understand, and the production quality is impressive. I highly recommend Smash Coder to anyone looking to improve their programming skills or stay up-to-date on the latest trends and techniques.
      <br />
    </p>
    <span>
      <p><b>Rajveer</b></p>
    </span>
  </div>
</section>

</header>
<%- include("partials/footer"); -%>